*{
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1px 1px gray;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
}
nav{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.nav-link{
    width: 30%;
    font-size: 20px;
    padding: 10px;
    border-radius: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
}
.nav-link:hover{
    background-color: gainsboro;
    color: gray;
}
#body{
    display: flex;
}
#post-form{
    display: flex;
    flex-direction: column;
}
.single-post, #post-form{
    box-shadow: 1px 2px 2px grey;
    padding: 5px;
}
.post-title{
    font-size: 15px;
}
.post-content{
    font-size: 18px;
}
.bottom-post{
    display: flex;
    justify-content: space-between;
    font-size: 10px;
}